.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}


.login > div > img {
    object-fit: contain;
    height: 150px
}

.login > div {
    display: flex;
    flex-direction: column;
}

.login > div > button {
    width: 300px;
    margin: 1rem 0;
    background-color: #2e81f4;
    color: #eff3f5;
    font-weight: 800;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
}

.login > button:hover {
    background-color: white;
    color: #2e81f4;
}
